@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2? family= Tapeçaria & display=swap');

*{
    margin: 0px;
    padding: 0px;
}
:root{
    --fonte1:'King';
    --fonte2:''Montserrat', sem serifa;';
}

}

html, body{
    min-height: 100vh;
    background-color: darkgray ;
}

header{
    background-color: black;
    color: white;
    text-align: center;
}

header > h1{
   padding-top: 50px ;
   font-variant:small-caps ;
   font-family:  var(--fonte2);
   font-size: 4.7em;

}
header > p{
    padding-bottom: 50px;
}


a{
    color: white;
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}


section{
    padding-top:10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
    font-family: 'Tapeçaria';
    font-size:2em;
}

section > p{
    padding-bottom: 2em;
}
section.imagem > p{
    
    background-color: rgba(50, 50, 50, 0.34);
    width: 400px;
    padding: 7px;
    text-shadow: 1px 1px black;
}


section.normal{
    background-color: white;
    color: black;
}
section.imagem{
    background-color: rgb(42, 41, 41);
    color: white;
    box-shadow: inset 6px 6px 13px 0px rgba(50, 50, 50, 0.323);
    background-attachment: fixed;
}


#imagem-j{
   background-image: url(imagens/background001.jpg);
   background-position: right center;
   background-size: cover;
}
#imagem-c{
    background-image: url(imagens/background002.jpg);
    background-size: cover;
}





footer{
    background-color: black;
    text-align: center;
    color: white;
    padding: 4px;
}