@charset "UTF-8";




body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
td{
    border: 1px solid black;
}
table{
    width: 400px;
    height: 400px;
    text-align: center ;
    border-collapse:collapse ;
   
}

